<div class="yy-footer">
    <div class="yy-b-part1"> 
        <p class="c_txt">
            © 2019 <a href="//51rhyme.com" target="_blank">51rhyme.com</a> 京ICP备19049395号
        <a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502039319"
            target="_blank">京公网安备  11010502039319号<i></i></a> 
        </p>
    </div>
</div>