<div class="yayun-header">
    <div class="yy-header_box">
        <div>
            <img class="head-img" src="/image/index/51logo_head.png" alt="">
        </div>
        <div class="yy-tbar">
            <a class="head-tab" id="indexId" href="/" rel="noopener noreferrer" >首页</a>
            <a class="head-tab" id="helpId" href="/help" target="_blank" rel="noopener noreferrer">帮助</a>
            <a class="head-tab" id="suggestId" href="/suggest" target="_blank" rel="noopener noreferrer">功能建议</a>
            <a class="head-tab" id="concatId" href="/concat" target="_blank" rel="noopener noreferrer">联系我们</a>
        </div>
        <div></div>
    </div>
    <script>
    </script>
</div>