<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>押韵_帮助</title>
    <link rel="icon" href="//51rhyme.com/image/favicon.ico" >
    <link rel="stylesheet"  href="/css/index.css"/>
    <link rel="stylesheet"  href="/css/help.css"/>
    <script src="/js/libs/jquery-1.11.3.min.js"></script>
</head>
<body>
  <div class="container">
    <%- include('mixin/header'); %>
    <div class="help-main">
        <div class="help-left">

        </div>
        <div class="help-cnt">

        </div>
    </div>
    <%- include('mixin/footer'); %>
  </div>
  <script>
      $(document).ready(function () {
          $('#helpId').toggleClass('cur-tbar')
      });
  </script>
</body>
</html>