<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>押韵</title>
    <link rel="stylesheet"  href="/css/style.css"/>
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>
   <div class="yayun-content">
    <div id="lg">
        <img hidefocus="true" class="index-logo-src" src="/image/logo.gif" width="270" height="129" usemap="#mp">
        <img hidefocus="true" class="index-logo-srcnew" src="/image/mlogo.gif" width="270" height="129" usemap="#mp">
        <map name="mp">
            <area style="outline:none;" hidefocus="true" shape="rect" coords="0,0,270,129" href="//www.baidu.com/s?wd=%e9%87%91%e5%ba%b8%e8%af%9e%e8%be%b0%e6%97%a5&amp;sa=ire_dl_gh_logo&amp;rsv_dl=igh_logo_pcs" onmousedown="return ns_c({fm: 'tab', tab: 'felogo', rsv_platform: 'wwwhome' })" target="_blank" title="致敬金庸">
        </map>
    </div>
 
    <form id="form" name="f" action="/s" class="fm">
        <input type="hidden" name="ie" value="utf-8">
        <input type="hidden" name="f" value="8">
        <input type="hidden" name="rsv_bp" value="0">
        <input type="hidden" name="rsv_idx" value="1">
        <input type="hidden" name="ch" value="">
        <input type="hidden" name="tn" value="baidu">
        <input type="hidden" name="bar" value="">
        <span class="bg s_ipt_wr quickdelete-wrap">
            <input id="kw" name="wd" class="s_ipt" value="" maxlength="255" autocomplete="off">
        </span>
        <span class="bg s_btn_wr">
            <input type="submit" id="su" value="百度一下" class="bg s_btn">
        </span>
    </form>
</div>
</body>
<script>
    $('#yayunID').click(function(){
        console.log('发送请求了')
    })
</script>
</html>
