<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>押韵</title>
    <link rel="icon" href="//51rhyme.com/image/favicon.ico" >
    <link rel="stylesheet"  href="/css/index.css"/>
    <script src="/js/libs/jquery-1.11.3.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
  <div class="container">
    <%- include('mixin/header'); %>
    <div class="yayunCnt">
        <div class="yayunbox">
            <img id="yayunLogo" hidefocus="true" class="logoImg" src="/image/index/51logo.png" semap="#mp">
            <div id="yayunForm" class="frm">
                <input id="yayun_query" maxlength="255">
                <span class="query-btn">
                    <img src="/image/index/search.png">
                    押韵一下
                </span>
            </div>
            <div class="index-info">| 押韵小巧简单 灵感随心而生 |</div>
            <div class="yy-address"><a target="_blank" href="//51rhyme.com">www.51rhyme.com</a></div>
            <div class="yy-demo">
                <div class="yy-poetry">
                    <div class="yy-poetry_tit">
                        <span></span>
                        <span>诗词</span>
                        <span></span>
                    </div>
                    <div class="yy-poetry_info">诗句无灵感，轻松押韵一下</div>
                    <div class="yy-poetry_img">
                        <img src="/image/index/poetry.png" alt="" srcset="">
                        <img src="/image/index/poetry_word.png" alt="" srcset="">
                    </div>
                </div>
                <div class="yy-lyrics">
                    <div class="yy-lyrics_tit">
                        <span></span>
                        <span>歌词</span>
                        <span></span>
                    </div>
                    <div class="yy-lyrics_info">说唱不卡壳，轻松押韵一下</div>
                    <div class="yy-lyrics_img">
                        <img src="/image/index/lyrics.png" alt="" srcset="">
                        <img src="/image/index/lyrics_word.png" alt="" srcset="">
                    </div>
                </div>
                <div class="yy-copywriting">
                    <div class="yy-copywriting_tit">
                        <span></span>
                        <span>文案</span>
                        <span></span>
                    </div>
                    <div class="yy-copywriting_info">文案不一般，轻松押韵一下</div>
                    <div class="yy-copywriting_img">
                        <img src="/image/index/copywriting.png" alt="" srcset="">
                        <img src="/image/index/copywriting_word.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('mixin/footer'); %>
    <!-- 局部悬浮背景 -->
    <div class="bg-left">
        <img src="/image/index/bg_left1.png" alt="" srcset="">
        <img src="/image/index/bg_left2.png" alt="" srcset="">
    </div>
    <div class="bg-right">
        <img src="/image/index/bg_right.png" alt="" srcset="">
    </div>
    <div class="bg-bottom">
        <img src="/image/index/bg_right.png" alt="" srcset="">
    </div>
    <div class="bg-bottom2">
        <img src="/image/index/bg_bottom.png" alt="" srcset="">
    </div>
    <!-- 局部悬浮背景 -->
  <div>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?43c75c37c6ee9038edf17107155890ac";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
    $(document).ready(function () {
        $('#indexId').toggleClass('cur-tbar')
    });
</script>
</html>
