<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>押韵</title>
    <link rel="icon" href="//51rhyme.com/image/favicon.ico" >
    <link rel="stylesheet"  href="/css/index.css"/>
    <script src="/js/libs/jquery-1.11.3.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="yayunCnt">
        <div class="cyjl-index">
            <img src="/image/cyjl-icon.png" alt="">
        </div>
        <div class="yayunbox clearfix">
            <div id="yayunLogo">
                <img hidefocus="true" class="logoImg grayImg" src="/image/51logo.png" semap="#mp">
            </div>
            <div id="yayunForm" class="frm clearfix">
                <span class="input-sp">
                    <input id="yayun_query" maxlength="255">
                </span>
                <span class="img-sp grayImg" id="yayunID">
                    <img src="/image/51query.jpg">
                </span>
            </div>
        </div>
    </div>
    <div class="yy-bottom">
        <div class="yy-b-part1"> 
            <p class="c_txt">
                © 2019 <a href="//51rhyme.com" target="_blank">51rhyme.com</a> 京ICP备19049395号
            <a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502039319"
                target="_blank">京公网安备  11010502039319号<i></i></a> 
            </p>
        </div>
    </div>

    
    <div class="chat-container">
        <div id="chatCls"><img src="/image/close.png"></div>
        <ul class="chat"></ul>
        <div>
            <input type="text" class="text_input" placeholder="输入一个成语，回车键发送" />
            <a id="sumitcomment" href="javascript:" class="btn_com">发 送</a>
        </div>
    </div>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?43c75c37c6ee9038edf17107155890ac";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
    $('#chatCls').click(function (e) {
        e.stopPropagation()
        $('.chat-container').removeClass('chat-show')
        localStorage.clear()
    })
    $('.cyjl-index').click(function (e) {
        e.stopPropagation()
        $('.chat-container').addClass('chat-show')
        cyData = localStorage.getItem('cy-data') && localStorage.getItem('cy-data').split(',') || []
        updateCy()
    })
    let updateCy = function () {
        let html = []
        cyData.forEach((item, index) => {
            if (index % 2) {
                html.push('<li class="message left"><img class="logo" src="/image/cy-admin2.jpg" /><p>' + item + '</p></li >')
            } else {
                html.push(' <li class="message right"><img class="logo" src="/image/cy-admin.jpg" /><p>' + item + '</p></li >')
            }
        });
        $('.chat').html(html.join(''))
    }
    let getCyData = function () {
        if (!reqFlag) return false
        const word = $('.text_input').val()
        let params = {}
        if (cyData[cyData.length - 1]) {
            params.oldWord = cyData[cyData.length - 1]
        }
        if (word) {
            params.word = word
            $.ajax({
                type: "get",
                url: '/cyjl',
                dataType: 'json',
                cache: false,
                data: { word: word },
                success: function (data) {
                    reqFlag = true
                    cyData = localStorage.getItem('cy-data') && localStorage.getItem('cy-data').split(',') || []
                    cyData.push(word)
                    cyData.push(data.data.res)
                    console.log(data.data.code, typeof data.data.code)
                    if (data.data.code === 200) {
                        localStorage.setItem('cy-data', cyData.join(','))
                        $('.text_input').val('')
                    }
                    updateCy()
                    $(".chat").scrollTop($(".chat")[0].scrollHeight);
                }
            })
        } else {
            reqFlag = true
        }
    }
    let cyData = []
    let reqFlag = true
    $('.text_input').keyup(function (e) {
        if (e.keyCode === 13) {
            getCyData()
        }
    })
    $('#sumitcomment').click(function (e) {
        e.stopPropagation()
        getCyData()
    })
</script>
</html>
