<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>押韵</title>
    <link rel="shortcut icon"  href="/image/51Icon.png" >
    <link rel="stylesheet"  href="/css/index.css"/>
    <script src="/js/libs/jquery-1.11.3.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="yayunCnt">
        <div class="yayunbox">
            <div id="yayunLogo">
                <img hidefocus="true" class="logoImg" src="/image/51logo.png" semap="#mp">
            </div>
            <div id="yayunForm" class="frm clearfix">
                <span class="input-sp">
                    <input id="yayun_query" maxlength="255">
                </span>
                <span class="img-sp" id="yayunID">
                    <img src="/image/51query.jpg">
                </span>
            </div>
        </div>
    </div>
</body>
<script>
    
</script>
</html>
