<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>押韵</title>
    <link rel="icon" href="//51rhyme.com/image/favicon.ico" >
    <link rel="stylesheet"  href="/css/index.css"/>
    <link rel="stylesheet" href="/css/myRewards.css" />
    <script src="/js/libs/jquery-1.11.3.min.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/tctip.min.js"></script>
</head>
<body>
    <div class="yayunCnt">
        <div class="cyjl-index">
            <img src="/image/cyjl-icon.png" alt="">
        </div>
        <div class="yayunbox clearfix">
            <div id="yayunLogo">
                <img hidefocus="true" class="logoImg" src="/image/51logo.png" semap="#mp">
            </div>
            <div id="yayunForm" class="frm clearfix">
                <span class="input-sp">
                    <input id="yayun_query" maxlength="255">
                </span>
                <span class="img-sp" id="yayunID">
                    <img src="/image/51query.jpg">
                </span>
            </div>
        </div>
    </div>
    <div class="yy-bottom">
        <div class="yy-b-part1"> 
            <p class="c_txt">
                © 2019 <a href="//51rhyme.com" target="_blank">51rhyme.com</a> 京ICP备19049395号
            <a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502039319"
                target="_blank">京公网安备  11010502039319号<i></i></a> 
            </p>
        </div>
    </div>

    
    <div class="chat-container sj-chat">
        <div id="chatCls"><img src="/image/close.png"></div>
        <ul class="chat"></ul>
        <div>
            <input type="text" class="text_input" placeholder="输入一个成语，回车键发送" />
            <a id="sumitcomment" href="javascript:" class="btn_com">发 送</a>
        </div>
    </div>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?43c75c37c6ee9038edf17107155890ac";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
    $(function () { 
        $.ajaxSetup({
            cache: true
        });
        $('#chatCls').click(function (e) {
            e.stopPropagation()
            $('.chat-container').removeClass('chat-show')
            sessionStorage.clear()
        })
        $('.cyjl-index').click(function (e) {
            e.stopPropagation()
            $('.chat-container').addClass('chat-show')
            sessionStorage.clear()
            getCyData()
        })
        let updateCy = function () {
            let html = []
            cyData.forEach((item, index) => {
                if (index % 2) {
                    html.push('<li class="message left"><img class="logo" src="/image/cy-admin.jpg" /><p>' + item + '</p></li >')
                } else {
                    html.push(' <li class="message right"><img class="logo" src="/image/cy-admin2.jpg" /><p>' + item + '</p></li >')
                }
            });
            $('.chat').html(html.join(''))
        }
        let getCyData = function () {
            if (!reqFlag) return false
            reqFlag = false
            const word = $('.text_input').val()
            let params = {
                timestamp: (new Date()).valueOf()
            }
            if (cyData[cyData.length - 1]) {
                params.oldWord = cyData[cyData.length - 1]
            }
            if (word) {
                params.word = word
            }
            $.ajax({
                type: "get",
                url: '/cyjl',
                dataType: 'json',
                "Content-type": "application/json; charset=utf-8",
                data: params,
                success: function (data) {
                    reqFlag = true
                    cyData = sessionStorage.getItem('cy-data') && sessionStorage.getItem('cy-data').split(',') || []
                    word&&cyData.push(word)
                    cyData.push(data.data.res)
                    console.log(data.data.code, typeof data.data.code)
                    if (data.data.code === 200) {
                        sessionStorage.setItem('cy-data', cyData.join(','))
                        $('.text_input').val('')
                    }
                    updateCy()
                    $(".chat").scrollTop($(".chat")[0].scrollHeight);
                }
            })
        }
        let cyData = []
        let reqFlag = true
        $('.text_input').keyup(function (e) {
            if (e.keyCode === 13) {
                getCyData()
            }
        })
        $('#sumitcomment').click(function (e) {
            e.stopPropagation()
            getCyData()
        })
    })
    //右边浮窗
   window.tctipConfig = {
       //最上面的文字
       headText: "欢迎支持我们 ^_^",
       //侧边栏文本
       siderText: "公告 & 反馈",
       //侧边栏文本高度调整
       siderTextTop: "-72px",
       //侧边栏背景颜色
       siderBgcolor: "#323d45",
       //整个侧边栏的高度设置可以px，em，或百分比
       siderTop: "118px",
       //底部文字
       buttomText: "",
       //底部文字链接
       buttomLink: "",

       /**
       list规定打赏的方式，list有几个元素，代表有几种打赏方式,最多五种。
       分别解释如下:

       key: 为一个英文,用户可随意定义

       icon:    
           左侧icon图标的url,可以传入相对路径，此时会根据imagePrefix或者staticPrefix进行路径修正。
           如果传入绝对路径，则直接展示，不进行路径修正。
           如果key是默认值，且用户没有传入icon,则使用系统自带icon。
       name:    
           支付方式的名称，用于左侧tab展示的说明。name可以使用系统默认值；如果没有系统默认值，则需要用户传入
       desc:    
           支付方式更纤细说明，用于二维码下方说明文字,建议不超过五个字。当desc为空的时候，系统使用默认值，如果没有默认值，则使用name字段

       text:
           长文本内容（和qrimg不能同时使用，一般可用于写公告内容）
       qrimg:    
           当用户没有支付方式账号的时候，可以直接传入二维码图片；比如用户可以上传微信面对面收钱的二维码图片到服务器，然后将图片的url作为qrimg字段传入。此时二维码下方只展示desc字段，不展示account. 
           当用户同时传入qrimg和accounts时候，以qrimg为准。

       className:
           className可以为空，或者传入myR-on；默认显示项。
       **/
       list: {
           notice: { icon: "image/icon/tip.png", name: "公告栏", className: "myR-on", text: '公告内容:<br/>本网站免费' },
           weixin: { icon: "image/icon/weixin.png", name: "微信", desc: "项目作者“明辉”\n加微信反馈支持", qrimg: "image/qr/wxm.jpg" }
       }
   };
</script>

</html>
