<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>押韵</title>
    <link rel="stylesheet"  href="/css/style.css"/>
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div >
        <div class="subQuery">
            <a href="//51rhyme.com/"><img hidefocus="true" class="index-logo-src" src="/image/51logo.png" width="101" height="33" usemap="#mp"></a>
            <span class="bg s_ipt_wr quickdelete-wrap">
                <input id="kw" name="word" class="s_ipt" value="<%= body %>" maxlength="255" autocomplete="off">
            </span>
            <span class="bg s_btn_wr" id="yayunID">
                <!-- <input type="button"  value=""> -->
                <img src="/image/51query.jpg" alt=""  class="bg s_btn">
            </span>
        </div>
       <div class="resCls">
            <%= data %>
       </div>
    </div>
</body>
<script>
        $('#kw').bind('keypress',function(event){  
            if(event.keyCode == "13"){
                $('#yayunID').click();
            }  
        });  
        $('#yayunID').click(function(){
            $.ajax({
                type: "get",
                url: '/query',
                dataType:'json',
                cache: false,
                data: {word: $('#kw').val(),isRender:false},
                success:function(data) {
                    console.log('------',data.data)
                   $('.resCls').html(data.data)
                }
            })
        })
</script>
</html>
