body{
    font:12px arial;
    background:#fff;
    font-family: Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
body,p,form,ul,li{margin:0;padding:0;list-style:none;}


.clearfix:after,.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

body {
    height: 100%;
    cursor: default;
}
body .index-logo-src img{
    display: none;
}
.yayunbox{
    height: 100%;
}
#yayunLogo{
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 181px;
    text-align: center;
    cursor: pointer;
}
.logoImg{
    bottom: 10px;
    left: 50%;
}

.yayunBtn {
    width: 102px;
    height: 38px;
    border: 1px solid #38f;
    display: inline-block;
    background: none;
    vertical-align: top;
    cursor: pointer;
}

#yayun_query:hover{
    border-top: 1px solid #999 !important;
    border-left: 1px solid #999 !important;
    border-bottom: 1px solid #b3b3b3 !important;
}
.frm span{
    float: left;
}
.input-sp{
    height: 34px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 539px;
    margin-right: 0;
    border-right-width: 0;
}
.img-sp{
    position: relative;
    display: inline-block;
    zoom: 1;
    background: none;
    vertical-align: middle;
    width: 100px;
    height: 38px;
    border: 1px solid #2d78f4;
    margin-left: -4px;
}
.img-sp img{
    height: 32px;
    margin-top: 4px;
    margin-left: 20px;
    cursor: pointer;
}
.yayuntab{
    margin-top:11px;
    font-size: 16px;
    width: 100%;
    height: 30px;;
    line-height: 30px;
    border-top:1px solid #f8f8f8;
    background:#f8f8f8;
}
.curspan{
    border-bottom: 2px solid #38f;
    font-weight: 700;
    color: #323232;
}
.resCls{
    max-width: 538px;
    font-size: 13px;
    line-height: 1.54;
    word-wrap: break-word;
    word-break: break-word;
}
.resCls a{
    min-width: 54px;
    padding-right:10px;
    display: inline-block;
    /* text-decoration: none; */
    text-decoration-color: #c00;
}
.resCls em{
    font-size: 14px;
    font-style: normal;
    color: #c00;
}
.subQuery{margin-left:10px;margin-top:10px;}

.taba {
    width: 54px;
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
.yayuntab span{
    text-align: center;
    padding: 0px 10px;
}
.taba:hover {
    color: #323232;
}
#queryCnt {
    margin-top: 10px;
    letter-spacing: 8px;

}
.verDiv{
    margin-bottom: 50px;
    font-size: 14px;
}

.subQuery{margin-left:10px;margin-top:10px;}
.s_btn {
    margin-left:-20px;
    width: 100px;
    border: 1px solid #2d78f4;
    -webkit-appearance: none;
    height: 34px !important;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    outline: medium;
    *border-bottom: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
}
/*大屏幕*/
@media screen and (min-width: 1200px) {
    body .index-logo-src img{
        display: inline-block;
    }
    .yayunCnt{
        position: relative;
        width: 641px;
        height: 100%;
        min-height: 350px;
        margin: 0 auto 0 auto;
    }
    .logoImg{
        position: static;
        margin: 33px auto 33px auto;
        width:279px;
        height:129px;
    }
    .frm{
        position: absolute;
        bottom: 0;
    }
    .resCls{
        margin-left:120px;
        margin-top:11px;
    }
    #yayun_query {
        width: 521px;
        height: 20px;
        padding: 9px 7px;
        font: 16px arial;
        border: 1px solid #b8b8b8;
        border-bottom: 1px solid #ccc;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
    }
    .fm span{
        float: left;
    }
    .index-logo-srcnew {
        display: none;
    }
    .s_ipt_wr {
        height: 34px;
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 539px;
        margin-right: 0;
        border-right-width: 0;
    }
    #kw {
        width: 500px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .yayuntab span:nth-child(1){
        margin-left:120px;
    }
}
/*平板电脑与小屏电脑之间的分辨率*/
@media screen and (min-width: 768px) and (max-width:1199px) {
    .yayunCnt{
        position: relative;
        width: 641px;
        height: 100%;
        min-height: 520px;
        margin: 0 auto 0 auto;
    }
    .logoImg{
        position: static;
        margin: 33px auto 33px auto;
        width:279px;
        height:129px;
    }
    .frm{
        position: absolute;
        bottom: 0;
    }
    .index-logo-srcnew {
        display: none;
    }
    #yayun_query {
        width: 521px;
        height: 20px;
        padding: 9px 7px;
        font: 16px arial;
        border: 1px solid #b8b8b8;
        border-bottom: 1px solid #ccc;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
    }
    .fm span{
        float: left;
    }
    .index-logo-srcnew {
        display: none;
    }
    .s_ipt_wr {
        height: 34px;
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 539px;
        margin-right: 0;
        border-right-width: 0;
    }
    #kw {
        width: 500px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .yayuntab span:nth-child(1){
        margin-left:120px;
    }
    .resCls{
        margin-top: 20px;
        margin-left:120px;
    }
}
/*横向放置的手机和竖向放置的平板之间的分辨率*/
@media screen and (max-width:767px) {
    .yayunCnt{
        position: relative;
        width: 641px;
        height: 100%;
        min-height: 520px;
        margin: 0 auto 0 auto;
    }
    .logoImg{
        position: static;
        margin: 33px auto 33px auto;
        width:279px;
        height:129px;
    }
    .frm{
        position: absolute;
        bottom: 0;
    }
    #yayun_query {
        width: 521px;
        height: 20px;
        padding: 9px 7px;
        font: 16px arial;
        border: 1px solid #b8b8b8;
        border-bottom: 1px solid #ccc;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
    }
    .fm span{
        float: left;
    }
    .index-logo-srcnew {
        display: none;
    }
    .s_ipt_wr {
        height: 34px;
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 539px;
        margin-right: 0;
        border-right-width: 0;
    }
    #kw {
        width: 500px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .resCls{
        margin-top: 10px;
        margin-left:20px;
    }
}

/*竖向放置的手机以及分别率*/
@media screen and (max-width: 480px) {
    .yayunCnt{
        position: relative;
        width: 641px;
        height: 100%;
        min-height: 520px;
        margin: 0 auto 0 auto;
    }
    .logoImg{
        position: static;
        margin: 33px auto 33px auto;
        width:279px;
        height:129px;
    }
    .frm{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-52.5%,0);
        display: flex;
    }
    .index-logo-srcnew {
        display: none;
    }
    #yayun_query {
        width: 421px;
        height: 20px;
        padding: 9px 7px;
        font: 16px arial;
        border: 1px solid #b8b8b8;
        border-bottom: 1px solid #ccc;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
        margin-left:auto;
        margin-right:auto;
    }
    .input-sp{
        width:439px;
    }
    .fm span{
        float: left;
    }
    .s_ipt_wr {
        height: 34px;
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 218px;
        margin-right: 0;
        border-right-width: 0;
    }
    #kw {
        width: 196px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .yayuntab span:first-child(1){
        margin-left:20px;
    }
    .resCls{
        margin-top: 10px;
        margin-left:20px;
    }
    .resCls a{
        min-width: 42px;
    }
    .taba {
        width: 42px;
    }
}
