body{
    font:12px arial;
    background:#fff;
    font-family: Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
body,p,form,ul,li{margin:0;padding:0;list-style:none;}


.clearfix:after,.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

body {
    height: 100%;
    cursor: default;
}
body .index-logo-src img{
    display: none;
}
*{
    box-sizing: border-box;
}
.yayunbox{
    height: 100%;
}
/*BEGIN: header */
.yayun-header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom:1px solid rgba(235,235,235,1); 
}
.yy-header_box{
    width: 1200px;
    height: 100%;
    margin:0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.yy-header_box .head-img{
    width:109px;
    height: 46px;
}
.yy-tbar{
    margin-left: 240px;
    display: inline-flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.yy-tbar a{
    margin-left: 50px;
    display: inline-block;
    width: 77px;
    height: 100%;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(125,124,130,1);
    line-height:24px;
    text-align: center;
    line-height: 80px;
    text-decoration-line: none;
}
.yy-tbar a:hover{
    color:rgba(61,61,61,1);
    border-bottom:3px solid rgba(204,151,86,1);
}
.yy-tbar a:nth-child(1){
    margin-left: 0px !important;
}
/*END: header */

/*BEGIN: footer */
.yy-footer{
    z-index: 300;
    width: 100%;
    height: 37px;
    overflow: hidden;
    color: #999;
    zoom: 1;
    margin: 0;
    margin-top:100px;
}
.yy-b-part1{
    width: 100%;
    line-height: 37px;
    text-align: center;
}
.yy-b-part1 p a{
    font-size: 12px;
    color: #999 !important;
}
.yy-b-part1 a i{
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 6px;
    background: url(../image/icon-police.png) 0 0;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 2px;
}
/*END: footer */
.page{
    display: none;
}
.words{
    font-family: fangsong;
    font-size: 14px;
}
#queryCnt span{
   color:#c00 ;
}
.word-list span{
    color: black !important;
}
.el-popover{
    display: none;
    position: absolute;
    background: #fff;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    padding: 12px;
    z-index: 2000;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    word-break: break-all;
    overflow-y: auto;
}
.el-popper[x-placement^=top] .popper__arrow {
    bottom: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-color: #ebeef5;
    border-bottom-width: 0;
}
.el-popper .popper__arrow {
    border-width: 6px;
    filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));
}
.el-popper .note-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #999;
}
.el-popper .note-row .row-part{
    flex:1;
    display: flex;
    justify-content: flex-start;
}
.el-popper .note-row .note-label{
    width: 50px;
    padding: 0 5px 0 12px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #999;
}
.el-popper .note-row .note-val{
    zoom: 1;
    color: #333;
    width: 50px;
    float: left;
    position: relative;
    word-break: break-all;
}
.note-cnt{
    font-size: 14px;
    word-wrap: break-word;
    color: #333;
    margin-bottom: 15px;
    text-indent: 2em;
    line-height: 24px;
    zoom: 1;
}
.word-note {
    position: absolute;
    right: 0;
    max-width: 518px;
    height: 200px;
    padding: 9px;
    border: 1px solid #e3e3e3;
    border-bottom-color: #e0e0e0;
    border-right-color: #ececec;
    box-shadow: 1px 2px 1px rgba(0,0,0,.072);
}

.popup span{
    display:block;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #333;
    position:absolute;
    top:-10px;
    left:50%;/* 三角形居中显示 */
    margin-left:-10px;/* 三角形居中显示 */
}

.popup em{
    display:block;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #fc0;
    position:absolute;
    top:1px;
    left:-10px;
}
/*大屏幕*/
@media screen and (min-width: 1200px) {
    .yayunCnt{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .logoImg{
        position: relative;
        /* top:0;
        left:0;
        right: 0;
        bottom:0; */
        margin:0 auto;
        width:142px;
        height:60px;
        cursor: pointer;
        margin-top:136px;
        display: block;
    }
    .frm{
        position: relative;
        display: block;
        margin:0 auto;
        width: 800px;
        height: 60px;
        margin-top:14px;
        border:1px solid rgba(204,151,86,0.3);
    }
    .frm:hover{
        border:1px solid rgba(204,151,86,1);
    }
    #yayun_query {
        width: 640px;
        height: 100%;
        font: 16px arial;
        border: 0px;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
    }
    .query-btn{
        position: absolute;
        top:0px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width:160px;
        height: 100%;
        background:rgba(49,46,42,1);
        border:1px solid rgba(49,46,42,1);
        font-size:18px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
    }
    .query-btn img{
        width: 22px;
        margin-right: 10px;
    }
    .index-info{
        margin-top:50px;
        width: 100%;
        height:15px;
        font-size:14px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(61,61,61,1);
        line-height:24px;
        text-align: center;
    }
    .yy-address a{
        display: block;
        width: 150px;
        margin:0 auto;
        margin-top:40px;
        font-size:14px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(162,148,132,1);
        line-height:24px;
        opacity:0.5;
        cursor: pointer;
        text-align: center;
        text-decoration-line: none;
    }
    .yy-address a:hover{
        opacity:1;
        color:#369;
        text-decoration-line: underline;
    }
    .yy-demo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 284px;
        margin:0 auto;
        margin-top:50px;
    }
    .yy-poetry{
        flex:1;
        height: 100%;
        border:1px solid rgba(204,151,86,0.3);
        cursor: pointer;
        margin-right: 28px;
        text-align: center;
    }
    .yy-poetry:hover{
        border:1px solid #CC9756;
    }
    .yy-poetry .yy-poetry_tit{
        margin-top:14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }
    .yy-poetry .yy-poetry_tit span{
        display: inline-block;
        width:35px;
        height:1px;
        background:rgba(255,157,78,.3);
    }
    .yy-poetry .yy-poetry_tit span:nth-child(2){
        display:inline-block;
        margin:0 17px;
        width:auto;
        line-height:0px;
        font-size:26px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(204,151,86,1);
        background:transparent;
    }
    .yy-poetry .yy-poetry_info{
        font-size:16px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(204,151,86,1);
    }
    .yy-poetry .yy-poetry_img{
        margin-top:22px;
        display: flex;
        justify-content: flex-start;
    }
    .yy-poetry .yy-poetry_img img:nth-child(1){
        width: 136px;
        height: 168px;
        margin-left:-12px;
    }
    .yy-poetry .yy-poetry_img img:nth-child(2){
        margin-top:8px;
        margin-left:-24px; 
        height: 135px;
        width: 109px;
    }
    .yy-lyrics{
        flex:1;
        height: 100%;
        border:1px solid rgba(204,151,86,0.3);
        cursor: pointer;
        margin-right: 28px;
        text-align: center;
    }
    .yy-lyrics:hover{
        border:1px solid #CC9756;
    }
    .yy-lyrics .yy-lyrics_tit{
        margin-top:14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }
    .yy-lyrics .yy-lyrics_tit span{
        display: inline-block;
        width:35px;
        height:1px;
        background:rgba(255,157,78,.3);
    }
    .yy-lyrics .yy-lyrics_tit span:nth-child(2){
        display:inline-block;
        margin:0 17px;
        width:auto;
        line-height:0px;
        font-size:26px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(204,151,86,1);
        background:transparent;
    }
    .yy-lyrics .yy-lyrics_info{
        font-size:16px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(204,151,86,1);
    }
    .yy-lyrics .yy-lyrics_img{
        margin-top:16px;
        display: flex;
        justify-content: flex-start;
    }
    .yy-lyrics .yy-lyrics_img img:nth-child(1){
        width: 124px;
        height: 173px;
        margin-left: 20px;
    }
    .yy-lyrics .yy-lyrics_img img:nth-child(2){
        margin-top:16px;
        margin-left:-60px; 
        height: 147px;
        width: 155px;
    }
    .yy-copywriting{
        flex:1;
        height: 100%;
        border:1px solid rgba(204,151,86,0.3);
        cursor: pointer;
        text-align: center;
    }
    .yy-copywriting:hover{
        border:1px solid #CC9756;
    }
    .yy-copywriting .yy-copywriting_tit{
        margin-top:14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }
    .yy-copywriting .yy-copywriting_tit span{
        display: inline-block;
        width:35px;
        height:1px;
        background:rgba(255,157,78,.3);
    }
    .yy-copywriting .yy-copywriting_tit span:nth-child(2){
        display:inline-block;
        margin:0 17px;
        width:auto;
        line-height:0px;
        font-size:26px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(204,151,86,1);
        background:transparent;
    }
    .yy-copywriting .yy-copywriting_info{
        font-size:16px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(204,151,86,1);
    }
    .yy-copywriting .yy-copywriting_img{
        margin-top:22px;
        display: flex;
        justify-content: flex-start;
    }
    .yy-copywriting .yy-copywriting_img img:nth-child(1){
        width: 129px;
        height: 176px;
        margin-left:10px;
    }
    .yy-copywriting .yy-copywriting_img img:nth-child(2){
        margin-top:21px;
        margin-left:-28px; 
        height: 116px;
        width: 112px;
    }
    #kw {
        width: 500px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .yayuntab span:nth-child(1){
        margin-left:120px;
    }
    .page{
        display: block;
        margin-left:120px;
    }
    .page a{
        display: inline-block;
        vertical-align: text-bottom;
        width: 34px;
        height: 34px;
        border: 1px solid #e1e2e3;
        cursor: pointer;
        text-align: center;
        line-height: 34px;
        text-decoration: none;
        overflow: hidden;
        margin-right: 9px;
        background: #fff;
    }
    .page a:hover{
        border: 1px solid #0000d6 !important;
        background: #d4d4fb;
    }
    .page .cur-a{
        border: 1px solid #0000d6 !important;
        background: #d4d4fb !important;
    }
    .flr-bar{
        position: fixed;
        right: 294px;
        bottom: 321px;
    }
    .flr-bar .fr-icon{
        margin-bottom:20px;
        text-align: center;
        width:48px;
        height:48px;
        background:rgba(228,228,228,1);
        border-radius:50%;
        font-size:28px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:48px;
    }
    .fr-act{
        background:rgba(153,153,153,1) !important;
    }
    #wxm{
        display: none;
        margin-top:-68px;
        margin-left:-168px;
        width:120px;
        height: 120px;
    }
    #wxm img{
        width:100%;
        height: 100%;
    }
    .wxm-show{
        display: block !important;
    }
}
/*平板电脑与小屏电脑之间的分辨率*/
@media screen and (min-width: 768px) and (max-width:1199px) {
    .yayunCnt{
        position: relative;
        width: 641px;
        height: 100%;
        min-height: 520px;
        margin: 0 auto 0 auto;
    }
    .logoImg{
        position: static;
        margin: 33px auto 33px auto;
        width:279px;
        height:129px;
    }
    .frm{
        position: absolute;
        bottom: 0;
    }
    .index-logo-srcnew {
        display: none;
    }
    #yayun_query {
        width: 521px;
        height: 20px;
        padding: 9px 7px;
        font: 16px arial;
        border: 1px solid #b8b8b8;
        border-bottom: 1px solid #ccc;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
    }
    .fm span{
        float: left;
    }
    .index-logo-srcnew {
        display: none;
    }
    .s_ipt_wr {
        height: 34px;
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 539px;
        margin-right: 0;
        border-right-width: 0;
    }
    #kw {
        width: 500px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .yayuntab span:nth-child(1){
        margin-left:120px;
    }
    .resCls{
        margin-top: 20px;
        margin-left:120px;
    }
}
/*横向放置的手机和竖向放置的平板之间的分辨率*/
@media screen and (max-width:767px) {
    .yayunCnt{
        position: relative;
        width: 641px;
        height: 100%;
        min-height: 520px;
        margin: 0 auto 0 auto;
    }
    .logoImg{
        position: static;
        margin: 33px auto 33px auto;
        width:279px;
        height:129px;
    }
    .frm{
        position: absolute;
        bottom: 0;
    }
    #yayun_query {
        width: 521px;
        height: 20px;
        padding: 9px 7px;
        font: 16px arial;
        border: 1px solid #b8b8b8;
        border-bottom: 1px solid #ccc;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
    }
    .fm span{
        float: left;
    }
    .index-logo-srcnew {
        display: none;
    }
    .s_ipt_wr {
        height: 34px;
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 539px;
        margin-right: 0;
        border-right-width: 0;
    }
    #kw {
        width: 500px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .resCls{
        margin-top: 10px;
        margin-left:20px;
    }
}

/*竖向放置的手机以及分别率*/
@media screen and (max-width: 480px) {
    .yayunCnt{
        position: relative;
        width: 641px;
        height: 100%;
        min-height: 520px;
        margin: 0 auto 0 auto;
    }
    .logoImg{
        position: static;
        margin: 33px auto 33px auto;
        width:279px;
        height:129px;
    }
    .frm{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-52.5%,0);
        display: flex;
    }
    .index-logo-srcnew {
        display: none;
    }
    #yayun_query {
        width: 421px;
        height: 20px;
        padding: 9px 7px;
        font: 16px arial;
        border: 1px solid #b8b8b8;
        border-bottom: 1px solid #ccc;
        border-right: 0;
        vertical-align: top;
        outline: none;
        box-shadow: none;
        margin-left:auto;
        margin-right:auto;
    }
    .input-sp{
        width:439px;
    }
    .fm span{
        float: left;
    }
    .s_ipt_wr {
        height: 34px;
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 218px;
        margin-right: 0;
        border-right-width: 0;
    }
    #kw {
        width: 196px;
        height: 22px;
        font: 16px/18px arial;
        line-height: 22px;
        margin: 6px 0 0 7px;
        padding: 0;
        background: transparent;
        border:0;
        outline: 0;
        -webkit-appearance: none;
    }
    .yayuntab span:first-child(1){
        margin-left:20px;
    }
    .resCls{
        margin-top: 10px;
        margin-left:20px;
    }
    .resCls a{
        min-width: 42px;
    }
    .taba {
        width: 42px;
    }
}
