html{overflow-y:auto}
body{font:12px arial;background:#fff}
body,p,form,ul,li{margin:0;padding:0;list-style:none}
/* body,form,#fm{position:relative} */
td{text-align:left}
img{border:0}
a{color:#00c}
a:active{color:#f60}
input{border:0;padding:0;}

.yayun-content{
    min-width:300px;   
    /* min-width: 810px;
    height: 100%;
    min-height: 600px; */
    max-height: 200px;
    position:absolute;
    left:50%;    /* 定位父级的50% */
    top:30%;
    transform: translate(-50%,-50%);
}
.fm span{
    float: left;
}
.index-logo-srcnew {
    display: none;
}
.s_ipt_wr {
    height: 34px;
    border: 1px solid #b6b6b6;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 539px;
    margin-right: 0;
    border-right-width: 0;
}
#kw {
    width: 500px;
    height: 22px;
    font: 16px/18px arial;
    line-height: 22px;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
    border:0;
    outline: 0;
    -webkit-appearance: none;
}
@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
    .index-logo-src {
        display: none;
    }
    .index-logo-srcnew {
        display: inline;
    }
}

#lg{
    text-align: center;
    vertical-align: middle;
}
.s_btn {
    margin-left:-20px;
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    *border-bottom: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.s_ipt_wr.bg,.s_btn_wr.bg,#su.bg{/* background-image:none; */}
.s_btn_wr{/* width:auto; *//* height:auto; */border-bottom:1px solid transparent;*border-bottom:0;}
.s_btn{width:100px;height:36px;color:#fff;font-size:15px;letter-spacing:1px;background:#3385ff;border-bottom:1px solid #2d78f4;outline:medium;*border-bottom:0;-webkit-appearance:none;-webkit-border-radius:0}
.s_btn.btnhover{background:#317ef3;border-bottom:1px solid #2868c8;*border-bottom:0;box-shadow:1px 1px 1px #ccc}
.s_btn_h{background:#3075dc;box-shadow:inset 1px 1px 5px #2964bb;-webkit-box-shadow:inset 1px 1px 5px #2964bb;-moz-box-shadow:inset 1px 1px 5px #2964bb;-o-box-shadow:inset 1px 1px 5px #2964bb}
#result_logo{display:none}
#index_logo img{display:inline-block;width:270px;height:129px}
#s_tab{display:none}
.s_form{position:relative;top:38.2%}
.s_form_wrapper{position:relative;top:-191px}
.s_ipt_wr{height:34px}
#head .c-icon-bear-round{display:none}
#form{margin:22px auto 0;width:641px;text-align:left;z-index:100;}
#form .bdsug,#fm .bdsug{top:35px}